* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Narrow Bold", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background: #1d3557;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 20px;
}

h1,
h2 {
    margin: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
}

h2 {
    font-size: 26px;
}

button {
    width: 8rem;
    margin: 10px;
    background-color: #fff;
    color: #222;
    font-size: 20px;
    font-weight: 900;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px;
    display: block;
}