@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
nav {
    max-width: 100%;
    margin-bottom: 2rem;
    background: rgba(224, 168, 0, 0.9);
    padding: 15px 0px;
    text-align: center;
}

h1 {
    font-family: "Potta One", cursive;
    font-size: 40px;
    color: #f0f0f0;
    letter-spacing: 3px;
    text-shadow: 1px 2px 0px #222;
}